In [162]:
import requests
import json
from json import JSONDecodeError
import pandas as pd
from pandas import json_normalize
import numpy as np

Make a .py (or .ipynb) file that contains the following (your choice of editor does not matter!) and do the following: find and access a data set in any way you want. You can use an API, a CSV, anything.

In [163]:
url = ("https://datausa.io/api/data?drilldowns=State&measures=Population")
response = requests.get(url)
json = response.json()
state_data = pd.json_normalize(data = json, record_path = ["data"])
state_data

      ID State          State  ID Year  Year  Population     Slug State
0    04000US01        Alabama     2020  2020     4893186        alabama
1    04000US02         Alaska     2020  2020      736990         alaska
2    04000US04        Arizona     2020  2020     7174064        arizona
3    04000US05       Arkansas     2020  2020     3011873       arkansas
4    04000US06     California     2020  2020    39346023     california
..         ...            ...      ...   ...         ...            ...
411  04000US53     Washington     2013  2013     6819579     washington
412  04000US54  West Virginia     2013  2013     1853619  west-virginia
413  04000US55      Wisconsin     2013  2013     5706871      wisconsin
414  04000US56        Wyoming     2013  2013      570134        wyoming
415  04000US72    Puerto Rico     2013  2013     3682966    puerto-rico

[416 rows x 6 columns]

Fix TWO issues with the data set using techniques you've learned in class.

ONE: Too much info, dropping columns that are not necessary.
Cleaning to have only State, Year, and Population columns.

In [164]:
state_data.drop(['ID State'], axis = 1, inplace=True)
state_data.drop(['ID Year'], axis = 1, inplace=True)
state_data.drop(['Slug State'], axis = 1, inplace=True)

state_data

             State  Year  Population
0          Alabama  2020     4893186
1           Alaska  2020      736990
2          Arizona  2020     7174064
3         Arkansas  2020     3011873
4       California  2020    39346023
..             ...   ...         ...
411     Washington  2013     6819579
412  West Virginia  2013     1853619
413      Wisconsin  2013     5706871
414        Wyoming  2013      570134
415    Puerto Rico  2013     3682966

[416 rows x 3 columns]

TWO: Renaming 'Population' column to 'Pop.'

In [165]:
state_data.rename(columns = {"Population":"Pop."}, inplace=True)
state_data

             State  Year      Pop.
0          Alabama  2020   4893186
1           Alaska  2020    736990
2          Arizona  2020   7174064
3         Arkansas  2020   3011873
4       California  2020  39346023
..             ...   ...       ...
411     Washington  2013   6819579
412  West Virginia  2013   1853619
413      Wisconsin  2013   5706871
414        Wyoming  2013    570134
415    Puerto Rico  2013   3682966

[416 rows x 3 columns]